* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  background-color: #ffffff;
  color: #5500AA;
  min-height: 100vh;
  width: 100vw;
  padding: 40px 0;
  font-size: 18px;
}
.ButtonCard {
  display: flex;
  flex-direction: column;
  text-align: center;
}